<HEAD>
<TITLE> <%= title %> </TITLE>
</HEAD>
<BODY BGCOLOR="WHITE">
<CENTER>
Hello
<%= temperature %>
<%- include('../templates/test', {temp : temperature})%>

<H1>A Simple Sample Web Page</H1>



<H2>Demonstrating a few HTML features</H2>

</CENTER>

HTML is really a very simple language. It consists of ordinary text, with commands that are enclosed by "<" and ">" characters, or bewteen an "&" and a ";". <P>
 

You don't really need to know much HTML to create a page, because you can copy bits of HTML from other pages that do what you want, then change the text!<P>
 

This page shows on the left as it appears in your browser, and the corresponding HTML code appears on the right. The HTML commands are linked to explanations of what they do.

 

<H1>This is a size "1" heading</H1>

<H2>This is a size "2" heading</H2>

<center>

<H4>Copyright © 1997, by
<A HREF="http://sheldonbrown.com/index.html">Sheldon Brown</A>
</H4>

If you would like to make a link or bookmark to this page, the URL is:<BR> http://sheldonbrown.com/web_sample1.html</body>